/* body{
    /* margin: 0 auto; */
    /* height: 180vh; */
    /* width: 100vh; */
/* }

.navbar{
    
    
} */
/*
.carousel-inner {
    position: relative;
    width: 101%;
    overflow: hidden;
    height: 85%;
} */
/* footer{
    height: 5vh;
    width: auto;
    background-color: rgb(95, 214, 214);
    position: relative;
    top: 30vh;
}
footer ul li{
    display: inline;
    margin-left: 10vh;
    position: relative;
    color: gray; */


/* ----------------------PARTIE CARD----------------------------- */
/* .card{
   margin-bottom: 10vh;
    margin-left: 10vh;
    position: relative;
    
} */
